.content {
  padding:  40px ;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container{
  width: 95%;
  margin: 0 auto;
}

.title{
 padding: 20px 0;
}


@media (max-width: 1250px){
  .content__top{
    justify-content: space-between;
  }
}